fastapi==0.109.2
uvicorn[standard]==0.27.1
pydantic-settings==2.2.1
python-dotenv==1.0.1
pymupdf==1.23.21
beautifulsoup4==4.12.3
markdown==3.5.2
nltk==3.8.1
lancedb
sentence-transformers
pyarrow
groq
ranx
pandas
numpy<2.3.0
tqdm
streamlit==1.48.0
matplotlib==3.10.5
requests==2.32.5 